/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #5B8B5A;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #5B8B5A;
}
/* === Custom Scroll Bar CSS === */
/* Add your custom scrollbar styles here */

/* Common styles for different screen sizes */
.screen {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #fafafa;
    max-width: 1512px;
    width: 100%;
    height: 982px;
    position: absolute;
}

/* Add your other common styles here */

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .screen .div {
        max-width: 100%;
    }

    /* Add more responsive styles here */
}

/* Responsive styles for larger screens */
@media (min-width: 1200px) {
    /* Add specific styles for larger screens here */
}

/* up bar */
.screen .upbar {
    position: absolute;
    width: 1228px;
    height: 85px;
    top: 26px;
    left: 11px;
}

.screen .overlap-2 {
    position: relative;
    width: 1194px;
    height: 85px;
    left: 275px;
    background-color: #ffffff;
    border-radius: 8px;
}

.screen .overlap-group-2 {
    position: absolute;
    width: 158px;
    height: 55px;
    top: 14px;
    left: 917px;
}

.screen .text-wrapper-10 {
    width: 158px;
    height: 34px;
    top: 0;
    left: 0;
    /* font-family: "Tajawal-Medium", Helvetica;*/
    font-weight: 500;
    color: #5b8b5a;
    font-size: 14px;
    letter-spacing: -0.32px;
    line-height: 21.8px;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .text-wrapper-11 {
    width: 84px;
    height: 30px;
    top: 25px;
    left: 74px;
    font-family: "Tajawal-Medium", Helvetica;
    font-weight: 500;
    color: #8bb454;
    font-size: 12px;
    letter-spacing: -0.28px;
    line-height: 21.8px;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .makkah-logo {
    position: absolute;
    width: 75px;
    height: 42px;
    top: 15px;
    left: 1090px;
    object-fit: cover;
}

.screen .text-UP-bar {
    position: relative;
    top: 30px;
    right: 990px;
    font-family: "Tajawal-Bold", Helvetica;
    font-weight: 700;
    color: #5a8b59;
    font-size: 20px;
    letter-spacing: -0.48px;
    line-height: 21.8px;
    direction: rtl;
    font-family: 'Tajawal'
}


/*////////////////////////////////////////////////////*/

.screen .overlap- {
    position: absolute;
    width: 204px;
    height: 32px;
    top: 26px;
    left: 933px;
}




/* Style for the button and its container */
.screen .button-container {

    background-color: transparent;
}

.screen button#b {
    background-color: transparent;
    border: none;
    /* Remove border */
    cursor: pointer;
}

/* Optional: Style the button image */
.screen button#b img {
    width: 20px;
    height: 20px;
    alt: "Image Description";
}

.screen .text-wrapper-6 {
    width: 179px;
    height: 26px;
    top: 2px;
    right: 45px;
    /*font-family: "Tajawal-Medium", Helvetica;*/
    font-weight: 500;
    color: #5a8b59;
    font-size: 22px;
    letter-spacing: -0.52px;
    line-height: 21.8px;
    white-space: nowrap;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .concret-barrier-box {
    position: absolute;
    width: 337px;
    height: 128px;
    top: 10px;
    left: 865px;
    background-color: white;
    border-radius: 8px;
}

.screen .concretNumber {
    position: absolute;
    width: 193px;
    top: 25px;
    left: 100px;
    font-family: "Tajawal-Regular", Helvetica;
    font-weight: 400;
    color: #5a8b59;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .concretNumber2 {
    position: absolute;
    width: 193px;
    top: 70px;
    left: 26px;
    font-family: "Tajawal-Regular", Helvetica;
    font-weight: 400;
    color: black;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .NumOfConcret {
    position: absolute;
    width: 82px;
    top: 71px;
    left: 55px;
    font-family: "Tajawal-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .con-img {
    position: absolute;
    width: 76px;
    height: 67px;
    top: 31px;
    left: 24px;
    background-color: #8bb4544a;
    border-radius: 8px;
}

.screen .barricade {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 9px;
    left: 14px;
    object-fit: cover;
}


.screen .sand-box {
    position: absolute;
    width: 337px;
    height: 128px;
    top: 10px;
    left: 436px;
    background-color: white;
    border-radius: 8px;
}

.screen .sandNum {
    width: 193px;
    top: 25px;
    left: 113px;
    font-family: "Tajawal-Regular", Helvetica;
    font-weight: 400;
    color: #5a8b59;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .sandNum2 {
    width: 193px;
    top: 70px;
    left: 92px;
    font-family: "Tajawal-Regular", Helvetica;
    font-weight: 400;
    color: black;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .NumOFSand {
    position: absolute;
    width: 178px;
    top: 71px;
    left: -44px;
    font-family: "Tajawal-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .sand-img {
    position: absolute;
    width: 76px;
    height: 67px;
    top: 31px;
    left: 24px;

    background-color: #8bb4544a;
    border-radius: 8px;

}

.screen .ssss {
    position: absolute;
    width: 57px;
    height: 46px;
    top: 10px;
    left: 9px;
    object-fit: cover;
}


.screen .patholes-box {
    position: absolute;
    width: 337px;
    height: 128px;
    top: 10px;
    left: 10px;
    background-color: white;
    border-radius: 8px;
}


.screen .patholesNum {
    width: 193px;
    top: 25px;
    left: 40px;
    font-family: "Tajawal-Regular", Helvetica;
    font-weight: 400;
    color: #5a8b59;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .patholesNum2 {
    width: 193px;
    top: 70px;
    left: 5px;
    font-family: "Tajawal-Regular", Helvetica;
    font-weight: 400;
    color: black;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .NumOfPatholes {
    position: absolute;
    width: 178px;
    top: 71px;
    left: -49px;
    font-family: "Tajawal-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .pothole-img {
    position: absolute;
    width: 76px;
    height: 67px;
    top: 31px;
    left: 24px;

    background-color: #8bb4544a;
    border-radius: 8px;

}

.screen .pothole {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 13px;
    left: 17px;
    object-fit: cover;
}




/*/////////////////////  side bar ////////////////////////////*/
.screen .sidebar {
    position: fixed;
    width: 249px;
    height: 982px;
    top: 0;
    left: 5px;
    background-color: #ffffff;
}

.screen .overlap-3 {
    position: absolute;
    width: 249px;
    height: 99px;
    top: 20px;
    left: 0;
}

.screen .tammadon {

    position: absolute;
    width: 82px;
    height: 71px;
    top: 18px;
    left: 25px;
    /*object-fit: cover;*/
}

.tammadon-t {
    font-family: "Tajawal-Bold", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    direction: rtl;
    position: relative;
    font-family: 'Tajawal';
    right: 20px;
    top: 60px;
}

.screen .Side-button1,
.screen .Side-button2 {
    position: relative;
    width: 230px;
    height: 49px;
    background-color: var(--white);
    top: 167px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.screen .Side-button1 .chart,
.screen .Side-button2 .element-plus {
    width: 28px;
    height: 28px;

}

.screen .Side-button1:hover,
.screen .Side-button2:hover {
    background-color: #DDE9CD;
    color: #ffffff;
}

.screen .text-wrapper-12,
.screen .text-wrapper-13 {
    /* font-family: "Tajawal-Medium", Helvetica; */
    width: 180px;
    /* Adjust the width as needed */
    font-weight: 500;
    color: #5b8b5a;
    font-size: 20px;
    letter-spacing: -0.52px;
    line-height: 21.8px;
    white-space: nowrap;
    direction: ltr;
    font-family: 'Tajawal';

}





.buttons {
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px 5px;
    padding: 5px;
    width: 249px;
    height: 20px;
    top: 790px;

}


.screen .Side-button3 {
    position: relative;
    width: 100px;
    height: 20px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #ffffff;
}

.screen .Side-button3:hover {
    background-color: #DDE9CD;
    color: #ffffff;
}

.screen .ar {
    display: inline-block;
    font-family: "Tajawal-Medium", Helvetica;
    font-weight: 500;
    width: 195px;
    color: #5b8b5a;
    font-size: 13px;
    letter-spacing: -0.52px;
    line-height: 21.8px;
    white-space: nowrap;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .Side-button4 {
    position: relative;
    width: 100px;
    height: 20px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #ffffff;
}

.screen .Side-button4:hover {
    background-color: #DDE9CD;
    color: #ffffff;
}

.screen .engl {
    display: inline-block;
    font-family: "Tajawal-Medium", Helvetica;
    font-weight: 500;
    width: 195px;
    color: #5b8b5a;
    font-size: 13px;
    letter-spacing: -0.52px;
    line-height: 21.8px;
    white-space: nowrap;
    direction: rtl;
    font-family: 'Tajawal'
}


/*/////////////////search/////////////////////////////////////////////////////////////////////////////////////*/

.screen .overlappp {
    position: absolute;
    width: 1196px;
    height: 797px;
    top: 148px;
    left: 275px;
    border-radius: 10px;
}

.screen .centerbar {
    position: absolute;
    width: 1196px;
    height: max-content;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 30px;
}


.screen .searchbar {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 50px;
    top: 62px;

}

.screen form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
}

.screen form.search {
    border: none;
    padding: 0;
}

.screen input.search {

    width: 297px;
    height: 43px;
    position: absolute;

    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #d9d9d9;

    padding: 9px 4px 9px 40px;
    background: transparent url("search-icon.png") no-repeat 13px center;
    text-align: left;


}




.screen .button-filter {
    position: absolute;
    width: 86px;
    height: 43px;
    top: 62px;
    left: 350px;
    background-color: #dde9cd;
    border-radius: 8px;
    border: none;

}

.screen .button-filter:hover {
    background-color: #bcf2bc;
    ;
    color: #dde9cd;

}


.screen .text-wrapper200 {
    position: absolute;
    width: 27px;
    height: 23px;
    top: 10px;
    left: 33px;
    font-family: "Tajawal-Regular", Helvetica;
    font-weight: 400;
    color: #5a8b59;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .filter-search {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 5px;
}


/*////////////////////////////////////////////////////*/

.screen .overlap- {
    position: absolute;
    width: 204px;
    height: 32px;
    top: 26px;
    left: 33px;
}

.screen .text-wrapper-6 {
    width: 179px;
    height: 26px;
    top: 2px;
    right: -20px;
    /*font-family: "Tajawal-Medium", Helvetica;*/
    font-weight: 500;
    color: #5a8b59;
    font-size: 22px;
    letter-spacing: -0.52px;
    line-height: 21.8px;
    white-space: nowrap;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}


/* erea state * /


/* erea state box */
.screen .erea-state {
    position: absolute;
    width: 1194px;
    height: 190px;
    top: 135px;
    left: 275px;
    background-color: #ffffff;
    border-radius: 8px;
}

.screen .line {
    width: 1px;
    height: 176px;
    top: 49px;
    left: 812px;
    position: absolute;
    object-fit: cover;
}

.screen .img {
    width: 1px;
    height: 176px;
    top: 49px;
    left: 396px;
    position: absolute;
    object-fit: cover;
}


/*concrete*/
.screen .text-wrapper-66 {
    top: 60px;
    left: 150px;
    /* font-family: "Tajawal-Medium", Helvetica;*/
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .settings-check {
  
    height: 90px;
    top: 40px;
    left: 60px;
    position: absolute;
    width: 90px;

}


.screen .text-wrapper-5 {

    top: 100px;
    left: 200px;
    position: absolute;
    /* font-family: "Inter-Bold", Helvetica;*/
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    font-family: 'Tajawal'
   
}



/* sand on road*/
.screen .text-wrapper-7 {
   
    top: 100px;
    left: 1030px;
    position: absolute;
    /* font-family: "Inter-Bold", Helvetica;*/
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    font-family: 'Tajawal'
}
.screen .text-wrapper-8 {

    top: 60px;
    left: 970px;
    /* font-family: "Tajawal-Medium", Helvetica;*/
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}
.screen .x {

    height: 90px;
    width: 90px;
    top: 40px;
    right: 230px;
    position: absolute;

}


/* pothols*/
.screen .text-wrapper-3 {
   
    top: 60px;
    left: 540px;
    /* font-family: "Tajawal-Medium", Helvetica;*/
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}

.screen .text-wrapper-4 {
    top: 100px;
    left: 580px;
    position: absolute;
    /* font-family: "Inter-Bold", Helvetica;*/
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    font-family: 'Tajawal'
   
}

.screen .settings {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    right: 660px;
}




.screen .statetext {
    top: 22px;
    left: 1051px;
    /* font-family: "Inter-Bold", Helvetica;*/
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    direction: rtl;
    font-family: 'Tajawal'
}


/* table */

.table-container {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table-container table {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    border-radius: 8px;
    font-family: 'Tajawal', Arial, sans-serif;
}

.table-container thead {
    background-color: #dde9cd;
    height: 3rem;
}

@font-face {
    font-family: 'Tajawal';
    src: url('Tajawal-Light.ttf') format('truetype');
    /* Add additional font files if you have different font weights or styles */
}

.table-container th {
    font-family: 'Tajawal', Arial, sans-serif;
    font-size: 20px;
    color: #5a8b59;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

.table-container tr {
    height: 42px;
    font-size: 17px
}

.table-container .tbody tr:hover {
    background-color: #f2f2f2;
    /* Replace with your desired gray color */
}






.screen .overlappp-nigberhood {
    position: absolute;
    width: 1196px;
    height: 597px;
    top: 148px;
    left: 275px;
    border-radius: 10px;
}

.screen .centerbar-nigberhood {
    position: absolute;
    width: 1196px;
    height: 157px;
    top: 0;
    left: 0;
    border-radius: 10px;
}





/* image boxes */

.screen .images-container {
    position: absolute;
    width: 1196px;
    height: max-content;
    top: 348px;
    left: 275px;
}

.screen .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 15px 15px;
    padding: 5px;
    width: 1185px;
}

.screen .Image-box {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 15px;
}

.screen .inner-image {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 10px;
    left: 10px;
    object-fit: cover;
}



/*           Charts                */


.screen .between-erea-rec {
    position: absolute;
    width: 1196px;
    height: max-content;
    top: 348px;
    left: 275px;
}



.chart-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px 25px;
    padding: 5px;
    width: 1185px;
    height: 500px;

}


/* Apply CSS styles to the chart container */
.chart-container {
    display: inline-block;
    width: 343px;
    /* Adjust the width and margin as needed */
    margin-right: 10px;
    /* Adjust the margin between charts */
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    border-color: transparent;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0)*/
    text-align: center;

}

.chart-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;

}

/* Apply CSS styles to chart elements */
.chartjs-render-monitor {
    background-color: white;
    border-radius: 5px;
    height: 500px;
}

/* image pop up window container*/

.image-pop-container {

    position: fixed;
    width: 500px;
    height: 500px;
    top: 150px;
    left: 550px;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    border-radius: 10px;


}



.pop-img-box{
    position: absolute;
    width: 280px;
    height: 280px;
    top: 50px;
    left: 110px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.screen .inner-pop-image {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 10px;
left: 15px;
    object-fit: cover;
}


.close {
    left: 10px;
    width: 20;
    height: 20;
    background-color: transparent;
    border: none;
   
    
}

.close:hover {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}


.move-button{
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: #DDE9CD;
    top: 387px;
    left: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    text-align:justify;
    padding-top: 4px;
    padding-left: 10px;

}

.move-button:hover{
    background-color:#bfd99f;
    color: #ffffff;
}

.move-txt{
    display: inline-block;
    font-family: "Tajawal-Medium", Helvetica;
    font-weight: 500;
    width: 127px;
    position: fixed;
    color: black;
    font-size: 20px;
    letter-spacing: -0.52px;
    line-height: 21.8px;
    white-space: nowrap;
    direction: rtl;
    font-family: 'Tajawal'

}
